@import url("https://fonts.googleapis.com/css?family=Raleway");

.App {
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url("https://www.free-freecell-solitaire.com/solitaire/images/backgrounds/1920x1200/green_felt.jpg");
  background-size: cover;
  background-repeat: no-repeat;

  &-header {
    font-family: "Raleway", sans-serif;
    font-size: 60px;
    letter-spacing: 10px;
    width: 100%;
    background: url("https://i.pinimg.com/originals/04/79/90/0479901da7f61db9e7c6f91160773fa4.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    color: rgb(255, 255, 255);
  }
}

.card {
  width: 130px;
  margin: 10px;
  border-radius: 2px;
  -webkit-box-shadow: 10px 10px 48px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 48px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 48px 0px rgba(0, 0, 0, 0.75);
}

.player {
  display: flex;
  padding-bottom: 30px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.dealer {
  padding-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.container {
  height: 80vh;
}

.cardlist {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.btn {
  font-family: "Raleway", sans-serif;
  font-size: 30px;
  width: 150px;
  margin: 10px;
  color: white;
  border-radius: 6px;
  border: 2px solid white;
  background: rgb(16, 66, 16);
  outline: none;

  &-begin {
    font-family: "Raleway", sans-serif;
    font-size: 30px;
    height: 50px;
    width: 150px;
    margin: 10px;
    color: white;
    border-radius: 6px;
    border: 2px solid white;
    background: red;
    outline: none;
  }
  &-begin:hover {
    cursor: pointer;
    color: red;
    border-radius: 6px;
    border: 2px solid red;
    background: white;
  }
}
.btn:hover {
  cursor: pointer;
  color: rgb(16, 66, 16);
  border-radius: 6px;
  border: 2px solid rgb(16, 66, 16);
  background: white;
}

.table {
  width: 100%;
  position: absolute;
  bottom: 0;
  background: url("https://i.pinimg.com/originals/04/79/90/0479901da7f61db9e7c6f91160773fa4.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: rgb(250, 250, 250);
}

.endgame {
  background: rgb(16, 66, 16);
  height: 100vh;
  h1 {
    margin: auto;
    padding-top: 200px;
    font-size: 100px;
    color: rgb(231, 229, 82);
  }
}

.coaster {
  bottom: 240px;
  left: 10px;
  position: absolute;
  display: block;
  height: 30px;
  width: 30px;
  background-color: olive;
  border-radius: 100px;
}

.cocktail {
  position: absolute;
  height: 180px;
  bottom: 70px;
  left: 15px;
}
