/* .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.App {
  margin: 0 auto;
  max-width: 70%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: stretch;
  align-items: stretch;
}

.pixel {
  width: 60px;
  height: 60px;
  border: 1px solid black;
}

.colorPicker {
  margin-top: 30px;
  background: grey;
} */
